@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* Color Variables */
:root {
  --white: #fff;
  --black: #222;
  --green: #6cbe02;
  --grey1: #f0f0f0;
  --grey2: #e9d7d3;
}

/* Basic Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--black);
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.d-flex {
  display: flex;
  align-items: center;
}

/* 
=================
Header
=================
*/

.header {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  z-index: 0;
}

/* 
=================
Navigation
=================
*/
.navigation {
  position: relative;
  z-index: 2;
  height: 6rem;
  line-height: 6rem;
}

.nav-center {
  justify-content: space-between;

}

.logo {
  color: white;
}

.nav-center .nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-center .nav-link {
  font-size: 1.8rem;
  padding: 1rem;
  color: white;
}

.nav-center .nav-link:hover {
  color: var(--green);
}

.nav-center .hamburger {
  display: none;
  font-size: 2.3rem;
  color: var(--black);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .nav-list {
    position: fixed;
    top: 12%;
    left: -35rem;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    height: 100%;
    width: 0%;
    max-width: 35rem;
    z-index: 100;
    transition: all 300ms ease-in-out;
  }

  .nav-list.open {
    left: 0;
    width: 100%;
  }

  .nav-list .nav-item {
    margin: 0 0 1rem 0;
    width: 100%;
  }

  .nav-list .nav-link {
    font-size: 2rem;
    color: var(--black);
  }

  .nav-center .hamburger {
    display: block;
    color: white;
    font-size: 3rem;
  }
}

/* Hero */

.hero,
.heroslider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-next {
  right: -50px;
}

.swiper-button-prev {
  left: -50px;
}

.header:hover .swiper-button-next {
  right: 40px;
}
.header:hover .swiper-button-prev {
  left: 40px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  padding: 0.5rem 2.3rem;
  transition: all 500ms ease-in-out;
}

.swiper-icon {
  font-size: 5rem;
  color: white;
}

.header .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 1;
  text-align: center;
}

.header .content h1 {
  font-size: 7rem;
  color: #ffffff;
  margin-bottom: 4rem;
}

.header .search {
  width: 70rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .search input {
  width: 100%;
  padding: 1.5rem 0;
  text-indent: 1rem;
  font-size: 1.6rem;
  margin-right: 1rem;
  outline: none;
  border: none;
}

.header .search a {
  display: inline-block;
  padding: 1.5rem 4rem;
  background-color: var(--green);
  color: white;
  border-radius: 0.5rem;
}

@media (max-width: 996px) {
  .header .content h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  .header .search {
    width: 50rem;
  }
}

@media (max-width: 567px) {
  .header .content h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .header .search {
    width: 100%;
  }

  .header .search input {
    padding: 1rem 0;
    font-size: 1.3rem;
  }

  .header .search a {
    padding: 1rem;
  }

  .header:hover .swiper-button-next {
    right: 5px;
  }
  .header:hover .swiper-button-prev {
    left: 5px;
  }

  .swiper-icon {
    font-size: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    padding: 0.2rem 2.3rem;
  }
}

/* Rent Properties */
.section {
  padding: 10rem 0;
}
.section.rent .title {
  text-align: center;
  margin-bottom: 2rem;
}

.section.rent .title h1 {
  font-size: 2rem;
  color: #333;
}

.section.rent .rent-center.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.section.rent .box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.section.rent .box .top {
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.section.rent .box .top .overlay {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 66.67%;
}

.section.rent .box .top .overlay img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section.rent .box .top .pos {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #e74c3c;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-weight: bold;
}

.section.rent .box .bottom {
  padding: 1rem;
}

.section.rent .box .bottom p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.section.rent .box .bottom div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.section.rent .box .bottom div span {
  font-size: 1rem;
  color: #555;
}
.rent-center .box  .text {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  padding-top: 8rem;
  background: rgba(255, 244, 243, 0.78);
  transition: 0.5s;
}
.rent-center .box:hover  .text{
  top: 0;
}
.rent-center .box  .text .btn{
  color: #e0203b;
}

.header .content .call {
  margin-top: 2rem;
  text-align: center;
}

.header .content .call a {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #e74c3c;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.header .content .call a:hover {
  background-color: #c0392b;
  cursor: pointer;
}


/* Additional styling for the "BUY" label */
.section.rent .box .top .pos span {
  font-size: 0.9rem;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}

/* Styling for the "hover" effect */
.section.rent .box:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: 0.3s;
  cursor: pointer;
  overflow: hidden;
}
.rent-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 4rem 2rem;
}

.title {
  text-align: center;
  margin-bottom: 5rem;
  padding: 1rem;
}

.title h1 {
  font-weight: 100;
  font-size: 6rem;
  margin-bottom: 1rem;
}

.rent .box {
  transition: all 300ms ease-in-out;
  background-color: white;
}

.rent .box:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.rent .box .top {
  padding: 1rem;
  position: relative;
  height: 20rem;
  transition: all 300ms ease-in-out;
}

.rent .box:hover .top {
  cursor: pointer;
}

.rent .box .top img {
  height: 100%;
  object-fit: cover;
}

.rent .box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: white;
  height: 20rem;
  width: 100%;
}

.rent .box .overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}

.rent .box .top:hover .overlay::after {
  opacity: 1;
  visibility: visible;
}

.rent .box .pos {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.rent .box .pos span {
  display: inline-block;
  font-size: 1.3rem;
  color: white;
  margin-right: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.rent .box .pos span:first-child {
  background-color: #43c370;
}

.rent .box .pos span:last-child {
  background-color: #e0203b;
}

.rent .box .bottom {
  padding: 1.5rem;
}

.rent .box .bottom p {
  font-size: 2rem;
  font-weight: 500;
  color: #555;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.rent .box .bottom div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  color: #555;
}

.rent .box .bottom div span {
  font-size: 1.8rem;
}

.rent .box:hover .bottom p {
  color: #006eff;
}

.rent .box .bottom div i {
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .title h1 {
    font-size: 4rem;
  }
}

@media (max-width: 567px) {
  .title h1 {
    font-size: 3rem;
  }
}

/* Grid Properties */
.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.box {
  border-radius: 5px;
  overflow: hidden;
}

.box img {
  height: 100%;
  object-fit: cover;
  transition: all 500ms ease-in-out;
}

.box:hover img {
  transform: scale(1.1);
}

.box1 {
  grid-column: 1 / span 2;
  height: 35rem;
}
.box2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}
.box3 {
  grid-column: 1;
  grid-row: 2;
}
.box4 {
  grid-column: 2;
  grid-row: 2;
}

@media (max-width: 768px) {
  .box1 {
    grid-column: 1 / span 3;
    height: 20rem;
  }
  .box2 {
    grid-column: 3;
    grid-row: 2;
    height: 20rem;
  }
}

@media (max-width: 567px) {
  .wrapper .box {
    height: 15rem;
  }
}

.btn-1 {
  background-color: var(--green);
  color: var(--white);
  display: inline-block;
  border-radius: 1rem;
  font-size: 1.8rem;
  padding: 1.5rem 5rem;
}

.header .content .call {
  margin-top: 2rem;
  text-align: center;
}

.header .content .call a {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #e74c3c;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.header .content .call a:hover {
  background-color: #c0392b;
  cursor: pointer;
}

.about {
  padding: 4rem 0;
}

.about .heading {
  text-align: center;
  margin-bottom: 3rem;
}

.about .heading p {
  font-size: 2rem;
  color: #888;
}

.about .services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.about .box {
  background-color: #f9f9f9;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
}

.about .box img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.about .box h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.about .box p {
  color: #666;
  font-size: 1.5rem;
  line-height: 1.5;
}

.view-more-btn {
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  padding: 9px 10px; /* Set the padding */
  font-size: 12px; /* Set the font size */
  border: none; /* Remove the border */
  border-radius: 2px; /* Add rounded corners */
  cursor: pointer; /* Add a cursor on hover */
}

.view-more-btn:hover {
  background-color: #45a049; /* Change the background color on hover */
}
.view-more-bt {
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  padding: 9px 10px; /* Set the padding */
  font-size: 12px; /* Set the font size */
  border: none; /* Remove the border */
  border-radius: 2px; /* Add rounded corners */
  cursor: pointer; /* Add a cursor on hover */
}

.view-more-bt:hover {
  background-color: #45a049; /* Change the background color on hover */
}
.view-more-b {
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  padding: 9px 10px; /* Set the padding */
  font-size: 12px; /* Set the font size */
  border: none; /* Remove the border */
  border-radius: 2px; /* Add rounded corners */
  cursor: pointer; /* Add a cursor on hover */
}

.view-more-b:hover {
  background-color: #45a049; /* Change the background color on hover */
}
.view-more {
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  padding: 9px 10px; /* Set the padding */
  font-size: 12px; /* Set the font size */
  border: none; /* Remove the border */
  border-radius: 2px; /* Add rounded corners */
  cursor: pointer;
}

.view-more:hover {
  background-color: #45a049; /* Change the background color on hover */
}
.view-more- {
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  padding: 9px 10px; /* Set the padding */
  font-size: 12px; /* Set the font size */
  border: none; /* Remove the border */
  border-radius: 2px; /* Add rounded corners */
  cursor: pointer;  /* Add a cursor on hover */
}

.view-more-:hover {
  background-color: #45a049; /* Change the background color on hover */
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#landSearchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#landSearchInput::placeholder {
  color: #999;
}

#landSearchInput:focus {
  outline: none;
  border-color: #66afe9;
}

#searchButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 16px;
}

#searchButton:hover {
  background-color: #45a049;
}
.view-more-land {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-more-land:hover {
  background-color: #45a049;
}
#noMatchesMessage {
  display: none;
  text-align: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 5px;
}
#noMatcheMessage {
  display: none;
  text-align: center;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  border-radius: 5px;
}

#whatsappForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

#whatsappForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#whatsappForm input[type="text"],
#whatsappForm textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#whatsappForm textarea {
  resize: vertical;
}

#whatsappForm input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

#whatsappForm input[type="submit"]:hover {
  background-color: #0056b3;
}
.view-mo {
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  padding: 9px 10px; /* Set the padding */
  font-size: 12px; /* Set the font size */
  border: none; /* Remove the border */
  border-radius: 2px; /* Add rounded corners */
  cursor: pointer;
}
.view-m {
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  padding: 9px 10px; /* Set the padding */
  font-size: 12px; /* Set the font size */
  border: none; /* Remove the border */
  border-radius: 2px; /* Add rounded corners */
  cursor: pointer;
}
.view-m {
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  padding: 9px 10px; /* Set the padding */
  font-size: 12px; /* Set the font size */
  border: none; /* Remove the border */
  border-radius: 2px; /* Add rounded corners */
  cursor: pointer;
}
.view {
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  padding: 9px 10px; /* Set the padding */
  font-size: 12px; /* Set the font size */
  border: none; /* Remove the border */
  border-radius: 2px; /* Add rounded corners */
  cursor: pointer;
}
.v--- {
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  padding: 9px 10px; /* Set the padding */
  font-size: 12px; /* Set the font size */
  border: none; /* Remove the border */
  border-radius: 2px; /* Add rounded corners */
  cursor: pointer;
}
.vie{
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  padding: 9px 10px; /* Set the padding */
  font-size: 12px; /* Set the font size */
  border: none; /* Remove the border */
  border-radius: 2px; /* Add rounded corners */
  cursor: pointer;
}
.v-- {
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  padding: 9px 10px; /* Set the padding */
  font-size: 12px; /* Set the font size */
  border: none; /* Remove the border */
  border-radius: 2px; /* Add rounded corners */
  cursor: pointer;
}
.v- {
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  padding: 9px 10px; /* Set the padding */
  font-size: 12px; /* Set the font size */
  border: none; /* Remove the border */
  border-radius: 2px; /* Add rounded corners */
  cursor: pointer;
}
.vi {
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  padding: 9px 10px; /* Set the padding */
  font-size: 12px; /* Set the font size */
  border: none; /* Remove the border */
  border-radius: 2px; /* Add rounded corners */
  cursor: pointer;
}
.v {
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  padding: 9px 10px; /* Set the padding */
  font-size: 12px; /* Set the font size */
  border: none; /* Remove the border */
  border-radius: 2px; /* Add rounded corners */
  cursor: pointer;
}
.view- {
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  padding: 9px 10px; /* Set the padding */
  font-size: 12px; /* Set the font size */
  border: none; /* Remove the border */
  border-radius: 2px; /* Add rounded corners */
  cursor: pointer;
}
.contact{
  display: flex;
  justify-content: center;
  color: #ccc;
  
}
.contact {
  display: flex;
  background-color: #1a1b1b;
  margin-top: 6rem;
}

@media (max-width: 415px) {
  .contact-form form input,
  textarea {
    width: auto;
  }
}
.contact .lowbar img {
  width: 100px; /* Adjust the width as needed */
  height: 100px; 
  margin-top: 0.1rem;/* Maintain aspect ratio */ /* Add spacing between the image and text */

}

.contact .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px; /* Adjust width of each testimonial box */
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(22, 32, 2, 0.25);
  margin-bottom: rem;

}


.contact .heading p {
  margin-top: 1.5rem
}
.contact .phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px; /* Adjust width of each testimonial box */
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(22, 32, 2, 0.25);
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.contact .phone h2{
  color: #036936;

}
.heading {
  text-align: center;
  margin-top: 2rem;
}
.heading p {
  text-transform: uppercase;
  font-weight: 500;
  color: #ccc;
  color: #036936;
  
}
.heading h2 {
  font-size: var(--h2-font);
  
}
.social-container {
  display: flex;
  justify-content: center;
}
.phone {
  text-align: center;
}

.phone p:first-child {
  font-weight: bold;
}
.copyright {
  text-align: center;
  background-color: #1a1b1b;
  
}

.copyright p{
  color: #f8f9fa
  ;
}